body {
 width: 100%;
 max-width: 100vw;
 overflow-x:hidden;
 font-size: 0;
 padding: 0;
 margin: 0;
 font-family: Geometria;
 font-weight: 400;
 float: left;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
p {
 font-weight: 400;
}

button:focus, input:focus {
 outline: none;
 cursor: pointer;
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
a[href^=tel] { color: inherit; text-decoration: none; }
ul {
 list-style: none;
}
div {
 float: left;
 position: relative;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type='text']:focus::-webkit-input-placeholder {color:transparent;}
input[type='text']:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
input[type='text']:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
input[type='text']:focus:-ms-input-placeholder      {color:transparent;}

input[type='number']:focus::-webkit-input-placeholder {color:transparent;}
input[type='number']:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
input[type='number']:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
input[type='number']:focus:-ms-input-placeholder      {color:transparent;}
.content {
 min-height: 100vh;
 width: 100%;
 background-color:#fff;
 overflow-x:hidden;
}
ul:focus {
  outline: none;
}
.mobile {
  display: none;
}

/* ================================ */

.container {
  width: 1280px;
  margin:0 auto;
  height: 100%;
  float: none;
}
.container>h2 {
  margin-top: 90px;
  margin-bottom: 60px;
  font-size: 30px;
  color: #36353a;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
@media all and (max-width:1320px) {
  .container {
    width: 1080px;
  }
  .container>h2 {
    font-size: 28px;
  }
}
@media all and (max-width:1120px) {
  .container {
    width:780px;
  }
  .container>h2 {
    font-size: 24px;
    margin-top: 60px;
  }
}
@media all and (max-width:980px) {
  .container>h2 {
    font-size: 22px;
  }
}
@media all and (max-width:820px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}


/* ======================================= */

header {
  float: left;
  width: 100%;
  height: 100vh;
}
header .topbar {
  width: 100%;
  background-color: #323136;
  height: 90px;
  position: relative;
  z-index: 3;
}
header .topbar_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
header .topbar li {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
header .topbar li a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  height: 100%;
  line-height: 90px;
}
header .topbar li:last-child a {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #c5c0bd;
}
header .topbar li:last-child a span:first-child {
  margin-right: 10px;
  padding-top: 17px;
}
header .topbar li:nth-child(1) {
  width: 12%;
  justify-content: flex-start;
}
header .topbar li:nth-child(2) {
  width: 13%;
  justify-content: center;
}
header .topbar li:nth-child(3) {
  width: 12%;
  justify-content: center;
}
header .topbar li:nth-child(4) {
  width: 12%;
  justify-content: center;
}
header .topbar li:nth-child(5) {
  width: 12%;
  justify-content: center;
}
header .topbar li:nth-child(6) {
  width: 11%;
  justify-content: center;
}
header .topbar li:nth-child(7) {
  width: 11%;
  justify-content: center;
}
header .topbar li:nth-child(8) {
  width: 17%;
  justify-content: flex-end;
}
header .topbar li:hover {
  background-color: #7c6d96;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
}
header .topbar li:hover a {
  font-weight: 600;
}
header .topbar li:hover:after,
header .topbar li:hover:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 10px;
  opacity: 0.1;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
}
header .topbar li:hover:after {
  left: 0;
}
header .topbar li:hover:before {
  right: 0;
}
header .topbar li:nth-child(1):hover:after,
header .topbar li:nth-child(1):hover:before,
header .topbar li:nth-child(8):hover:after,
header .topbar li:nth-child(8):hover:before {
  display: none;
}
header .topbar li:nth-child(1):hover,
header .topbar li:nth-child(8):hover {
  background-color: transparent;
  box-shadow: none
}
header .topbar li:nth-child(1):hover a,
header .topbar li:nth-child(8):hover a {
  font-weight: 400;
}

.mobile_topbar {
  display: none;
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.mobile_topbar .mobile_menu {
  width: 50px;
  height: 100%;
  background-color: #38373d;
  position: relative;
}
.mobile_topbar .mobile_menu .hamburger {
  width: 20px;
  height: 16px;
  position: relative;
  margin-top: 16px;
  margin-left: 15px;
  transition: all .2s linear;
}
.mobile_topbar .mobile_menu .hamburger>span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.mobile_topbar .mobile_menu .hamburger>span:nth-child(1) {
  top: 0;
  transition: all .2s linear;
}
.mobile_topbar .mobile_menu .hamburger>span:nth-child(2) {
  top: 7px;
  transition: all .2s linear;
}
.mobile_topbar .mobile_menu .hamburger>span:nth-child(3) {
  bottom: 0;
  transition: all .2s linear;
}
.mobile_topbar .mobile_menu .hamburger.active>span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}
.mobile_topbar .mobile_menu .hamburger.active>span:nth-child(2) {
  transform: rotate(-45deg);
}
.mobile_topbar .mobile_menu .hamburger.active>span:nth-child(3) {
  opacity: 0;
}
.mobile_topbar .mobile_menu .menu_wrap {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #38373d;
  width: 320px;
  padding-top: 10px;
  padding-bottom: 55px;
  z-index: 20;
  display: none;
}
.mobile_topbar .mobile_menu .menu_wrap ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.mobile_topbar .mobile_menu .menu_wrap ul li {
  width: 100%;
  height: 50px;
  padding-left: 40px;
}
.mobile_topbar .mobile_menu .menu_wrap ul li:hover,
.mobile_topbar .mobile_menu .menu_wrap ul li:focus {
  background-color: #313035;
}
.mobile_topbar .mobile_menu .menu_wrap ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  font-size: 15px;
  line-height: 50px;
  position: relative;
  transition: all .2s linear;
}
.mobile_topbar .mobile_menu .menu_wrap ul li a:before {
  content: '';
  display: block;
  width: 9px;
  height: 13px;
  background-image: url(../img/arrows_right_double.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  top: 17px;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all .2s linear;
}
.mobile_topbar .mobile_menu .menu_wrap ul li a:hover,
.mobile_topbar .mobile_menu .menu_wrap ul li a:focus {
  padding-left: 20px;
  font-weight: 600;
}
.mobile_topbar .mobile_menu .menu_wrap ul li a:hover:before,
.mobile_topbar .mobile_menu .menu_wrap ul li a:focus:before {
  opacity: 1;
}
.mobile_topbar .mobile_logo_wrap {
  width: 50%;
  text-align: center;
  height: 100%;
}
.mobile_topbar .mobile_logo_wrap img {
  height: 75%;
  margin-top: 6px;
  width: auto;
}
.mobile_topbar .callback_icon {
  width: 50px;
  height: 100%;
  background-color: #86b8af;
  position: relative;
  float: right;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/phone_icon_topbar.png);
  background-size: auto;
}
.mobile_topbar .callback_icon.active {
  background-image: url(../img/close_phone.png);
}
.mobile_topbar .callback_icon .icon_wrap {
  margin-top: 15px;
  margin-left: 18px;

}
.mobile_topbar .callback_icon .dropdown_phone {
  width: 320px;
  background-color: #86b8af;
  position: absolute;
  right: 0;
  top: 50px;
  padding-top: 25px;
  padding-bottom: 30px;
  z-index: 20;
  display: none;
}
.mobile_topbar .callback_icon .dropdown_phone a {
  display: block;
  width: 100%;
}
.mobile_topbar .callback_icon .dropdown_phone a>span:nth-child(1) {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.mobile_topbar .callback_icon .dropdown_phone a>span:nth-child(2) {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin-top: 7px;
}
.mobile_topbar .calc_icon {
  width: 50px;
  height: 100%;
  background-color: #73648d;
  float: right;
}
.mobile_topbar .calc_icon a{
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}
.mobile_topbar .calc_icon a img {
  margin-top: 14px;
}

@media all and (max-width:1320px) {
  header .topbar li:last-child a {
    font-size: 16px;
  }
  header .topbar li a {
    font-size: 12px;
  }
  .logo_wrap {
    width: 100%;
  }
  .logo_wrap img{
    width: 100%;
  }
}
@media all and (max-width:1120px) {
  header .topbar li a {
    font-size: 10px;
    line-height: 60px;
  }
  header .topbar li:last-child a {
    font-size: 10px;
  }
  header .topbar li:last-child a span:first-child {
    margin-right: 0px;
    padding-top: 12px;
  }
  header .topbar li:last-child a span:first-child>img {
    width: 70%;
  }
  header .topbar {
    height: 60px;
  }
  .logo_wrap img {
    width: 95%;
  }
}
@media all and (max-width:820px) {
  header .topbar  {
    display: none;
  }
  .mobile_topbar {
    display: block;
  }
}


/* ======== */

header .firstScreen {
  width: 100%;
  height: calc(100vh - 90px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/header_bcg.jpg);
  position: relative;
}
header .firstScreen h1,
header .firstScreen h1>span.title {
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 3vh;
  line-height: 1.4;
}
header .firstScreen h1>span.title {
  display: inline;
}
header .firstScreen h1 span {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  display: block;
}
header .firstScreen .description {
  font-size: 30px;
  display: block;
  margin: 0 auto;
  width: 810px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}
header .firstScreen .action_box {
  position: absolute;
  bottom: 0;
  left: 33.333334%;
  width: 33.333334%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/action_bcg.png);
  padding: 0 50px;
  text-align: center;
}
header .firstScreen .action_box h2 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}
header .firstScreen .action_box p {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 40px;
}
header .firstScreen .action_box form {
  width: 100%;
}
header .firstScreen .action_box form .input_wrap {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .firstScreen .action_box form .input_wrap input {
  width: 46%;
  height: 50px;
  background-color: #fff;
  border:none;
  padding-left: 20px;
  font-size: 14px;
}
header .firstScreen .action_box form input[type='checkbox'] {
  display: none;
}
header .firstScreen .action_box form input[type='checkbox'] + label {
  font-size: 14px;
  padding-left: 50px;
  color: #fff;
  margin-bottom: 50px;
  position: relative;
  line-height: 1.4;
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-align: left;
  float: left;
  cursor: pointer;
}
header .firstScreen .action_box form input[type='checkbox'] + label a {
  color: #564b5c;
}
header .firstScreen .action_box form input[type='checkbox'] + label a:hover {
  text-decoration: underline;
}
header .firstScreen .action_box form input[type='checkbox'] + label:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
header .firstScreen .action_box form input[type='checkbox']:checked + label:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../img/checked.png);
}
button {
  width: 340px;
  height: 55px;
  background-color: #73648d;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
  border:none;
  transition: all .2s linear;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.1);
  transform: translate3d(-1px, -1px, 0);
}
button:after,
button:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 10px;
  opacity: 0.2;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
}
button:after {
  left: 0;
}
button:before {
  right: 0;
}
button:focus {
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1);
  transform: translate3d(0px, 0px, 0);
  transition: none;
}

@media all and (max-width:1660px) {
  header .firstScreen .action_box p {
    font-size: 24px;
  }
}
@media all and (max-height:840px) {
  header .firstScreen .action_box p {
    margin-bottom: 30px;
  }
  header .firstScreen .action_box h2 {
    margin-top: 30px;
  }
  header .firstScreen .action_box form input[type='checkbox'] + label {
    margin-bottom: 30px;
  }
}
@media all and (max-height:760px) {
  header .firstScreen h1,
  header .firstScreen h1>span.title {
    font-size: 30px;
    margin-bottom: 2vh;
  }
  header .firstScreen h1 span {
    font-size: 45px;
  }
  header .firstScreen .description {
    font-size: 24px;
  }
  header .firstScreen .action_box h2 {
    font-size: 40px;
  }
  header .firstScreen .action_box {
    min-height: 370px;
  }
}

@media all and (max-width:1400px) {
  header .firstScreen .action_box p {
    font-size: 20px;
  }
  header .firstScreen .action_box h2 {
    font-size: 36px;
  }
  header .firstScreen h1,
  header .firstScreen h1>span.title {
    margin-top: 6vh;
    font-size: 26px;
  }
  header .firstScreen h1 span {
    font-size: 40px;
  }
  header .firstScreen .description {
    font-size: 22px;
  }
}
@media all and (max-width:1280px) {
  header .firstScreen h1,
  header .firstScreen h1>span.title {
    margin-top: 4vh;
    font-size: 24px;
    margin-bottom: 0;
  }
  header .firstScreen h1 span {
    font-size: 34px;
  }
  header .firstScreen .description {
    font-size: 18px;
  }
  header .firstScreen .action_box {
    min-height: 320px;
    padding: 0 20px;
  }
  header .firstScreen .action_box h2 {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 32px;
  }
  header .firstScreen .action_box p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  header .firstScreen .action_box form .input_wrap input {
    height: 40px;
  }
  header .firstScreen .action_box form input[type='checkbox'] + label {
    font-size: 12px;
    padding-left: 40px;
  }
  header .firstScreen .action_box form input[type='checkbox'] + label:before {
    width: 20px;
    height: 20px;
  }
}
@media all and (max-height:630px) {
  header .firstScreen h1,
  header .firstScreen h1>span.title {
    margin-top: 4vh;
    font-size: 24px;
    margin-bottom: 0;
  }
  header .firstScreen h1 span {
    font-size: 34px;
  }
  header .firstScreen .description {
    font-size: 18px;
  }
  header .firstScreen .action_box {
    min-height: 320px;
    padding: 0 20px;
  }
  header .firstScreen .action_box h2 {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 32px;
  }
  header .firstScreen .action_box p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  header .firstScreen .action_box form .input_wrap input {
    height: 40px;
  }
  header .firstScreen .action_box form input[type='checkbox'] + label {
    font-size: 12px;
    padding-left: 40px;
  }
  header .firstScreen .action_box form input[type='checkbox'] + label:before {
    width: 20px;
    height: 20px;
  }
}

@media all and (max-width:1120px) {
  header .firstScreen {
    height: calc(100vh - 60px);
  }
  button {
    width: 270px;
  }
}
@media all and (max-width:940px) {
  header .firstScreen .action_box form input[type='checkbox'] + label {
    margin-bottom: 10px;
  }
  header .firstScreen .action_box p {
    font-size: 16px;
  }
  button {
    width: 240px;
    font-size: 14px;
  }
  header .firstScreen .action_box form .input_wrap input {
    padding-left: 10px;
  }
}
@media all and (max-width:820px) {
  header .firstScreen {
    height: 660px;
  }
  header .firstScreen h1 {
    margin-top: 50px;
  }
  header {
    height: auto;
  }
  header .firstScreen h1>span.title {
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 0;
    font-size: 28px;
  }
  header .firstScreen h1>span {
    font-size: 24px;
    font-weight: 300;
  }
  header .firstScreen .description {
    margin-top: 20px;
    width: 79%;
  }
  header .firstScreen .action_box {
    height: 380px;
    width: 50%;
    max-width: 550px;
    min-width: 260px;
    left: 50%;
    transform: translateX(-50%);
  }
  header .firstScreen .action_box form .input_wrap {
    flex-direction: column;
  }
  header .firstScreen .action_box form .input_wrap input {
    width: 100%;
    margin-bottom: 20px;
  }
  header .firstScreen .action_box form .input_wrap input:last-child {
    margin-bottom: 0;
  }
  header .firstScreen .action_box p {
    margin-bottom: 30px;
  }
  button {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
  button>span {
    display: none;
  }
  header .firstScreen .action_box form input[type='checkbox'] + label {
    margin-bottom: 20px;
  }
}


/* ================ ПРЕИМУЩЕСТВА ==================== */

.advantages {
  width: 100%;
}
.adv_block {
  width: 16.666667%;
  height: 16.66666vw;
  padding:0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
}
.adv_block:nth-child(1),
.adv_block:nth-child(4) {
  background-color: #82828a;
}
.adv_block:nth-child(2) {
  background-color: #87b9b0;
}
.adv_block:nth-child(3),
.adv_block:nth-child(6) {
  background-color: #38373d;
}
.adv_block:nth-child(5) {
  background-color: #c0b7ae;
}
.adv_block .icon_wrap {
  margin: 50px 0;
}
.adv_block p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 2;
}

@media all and (max-width:1685px) {
  .adv_block p {
    line-height: 1.4;
  }
}
@media all and (max-width:1560px) {
  .adv_block .icon_wrap {
    margin: 30px auto;
  }
}
@media all and (max-width:1430px) {
  .adv_block p {
    font-size: 14px;
  }
}
@media all and (max-width:1300px) {
  .adv_block {
    padding:0 15px;
  }
}
@media all and (max-width:1200px) {
  .adv_block .icon_wrap img {
    width: 60%;
  }
  .adv_block .icon_wrap {
    width: auto;
    text-align: center;
  }
  .adv_block p {
    font-size: 12px;
  }
}
@media all and (max-width:1000px) {
  .adv_block .icon_wrap {
    margin: 15px auto;
  }
}
@media all and (max-width:970px) {
  .adv_block p {
    font-size: 10px;
  }
  .adv_block {
    padding: 0 10px;
  }
}
@media all and (max-width:820px) {
  .adv_block {
    width: 33.33334%;
    height: 20vw;
  }
  .adv_block p {
    font-size: 14px;
  }
  .adv_block:nth-child(4) {
    background-color: #38373d;
  }
  .adv_block:nth-child(6) {
    background-color: #82828a;
  }
}
@media all and (max-width:820px) {
  .adv_block {
    height: 24vw;
  }
}

/* ============== ЗАКАЖИТЕ ЕСЛИ ================= */

.orderIf {
  width: 100%;
  padding-bottom: 30px;
}
.orderIf_block {
  width: 23%;
  margin: 0 1%;
  margin-bottom: 60px;
}
.orderIf_block .img_wrap {
  height: 280px;
  width: 100%;
  overflow: hidden;
}
.orderIf_block .img_wrap img {
  width: 100%;
}
.orderIf_block p {
  display: block;
  margin-top: 30px;
  font-size: 15px;
  color:  #36353a;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  float: left;
  margin-bottom: 0;
}

@media all and (max-width:1320px) {
  .orderIf_block .img_wrap {
    height: 250px;
  }
}
@media all and (max-width:1120px) {
  .orderIf_block .img_wrap {
    height: 180px;
  }
  .orderIf_block p {
    font-size: 12px;
    margin-top: 20px;
    padding: 0 10px;
  }
  .orderIf_block {
    margin-bottom: 30px;
    height: 240px;
  }
}
@media all and (max-width:820px) {
  .orderIf_block {
    width: 40%;
    margin: 0 5%;
    height: 50vw;
  }
  .orderIf_block .img_wrap {
    height: 38vw;
  }
  .orderIf_block p {
    font-size: 14px;
  }
}

/* ============== ВАРИАНТЫ ================== */

.variant {
  width: 100%;
  background-color: #f2f2f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(../img/infograph1920х1070.jpg);
  height: 56vw;
}
.variant .container {
  height: auto;
}
.mobile_variant {
  display: none;
}
.mobile_variant .img_part {
  width: calc(100% + 30px);
  margin-left: -15px;
}
.mobile_variant .img_part img {
  width: 100%;
  height: auto;
}
.mobile_variant ul.description {
  width: 100%;
  margin: 30px 0;
  padding-left: 50px;
  padding-right: 75px;
  float: left;
}
.mobile_variant ul.description li {
  width: 100%;
  margin-bottom: 15px;
  float: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mobile_variant ul.description li:last-child {
  margin-bottom: 0;
}
.mobile_variant ul.description li span {
  float: left;
}
.mobile_variant ul.description li span.text {
  font-size: 14px;
  color: #746390;
  text-align: left;
  line-height: 1.6;
}
.mobile_variant ul.description li span.number {
  display: inline-block;
  width: 25px;
  min-width: 25px;
  height: 25px;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
  color: #f0f0f0;
  margin-right: 15px;
  background-color: #746390;
  border-radius: 50%;
  font-weight: 700;
}
@media all and (max-width:1320px) {
  .variant .container>h2 {
    margin-top: 50px;
  }
}
@media all and (max-width:1024px) {
  .variant {
    background-image: url(../img/infograph1024х600.jpg);
  }
  .variant .container>h2 {
    margin-top: 30px;
  }
}
@media all and (max-width:890px) {
  .variant .container>h2 {
    margin-top: 20px;
    font-size: 20px;
  }
}
@media all and (max-width:820px) {
  .variant .container>h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .variant {
    background-image: none;
    background-color: #f0f0f0;
    height: auto;
  }
  .mobile_variant {
    display: block;
  }
}

/* ============== КАК ВЫБРАТЬ ================== */

.howTo {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/howto_bcg.jpg);
}
.howTo .form_box {
  width: 50%;
  margin-left: 50%;
  background-color: #87b9b0;
  padding: 0 50px;
}
.howTo .form_box h2 {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.howTo .form_box p.description {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 1.6;
}
.howTo .form_box form {
  width: 100%;
  text-align: center;
  padding-bottom: 90px;
}
.howTo .form_box form .input_wrap {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.howTo .form_box .input_wrap input {
  width: 46%;
  height: 50px;
  background-color: #fff;
  border:none;
  padding-left: 20px;
  font-size: 14px;
}
.howTo .form_box form input[type='checkbox'] {
  display: none;
}
.howTo .form_box form input[type='checkbox'] + label {
  font-size: 18px;
  padding-left: 50px;
  color: #fff;
  margin-bottom: 50px;
  position: relative;
  line-height: 1.4;
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-align: left;
  float: left;
  cursor: pointer;
}
.howTo .form_box form input[type='checkbox'] + label a {
  color: #564b5c;
}
.howTo .form_box form input[type='checkbox'] + label a:hover {
  text-decoration: underline;
}
.howTo .form_box form input[type='checkbox'] + label:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.howTo .form_box form input[type='checkbox']:checked + label:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../img/checked.png);
}

@media all and (max-width:1320px) {
  .howTo .form_box p.description,
  .howTo .form_box form input[type='checkbox'] + label {
    font-size: 14px;
  }
  .howTo .form_box h2 {
    margin-top: 40px;
    margin-bottom: 15px;
  }
}
@media all and (max-width:1120px) {
  .howTo .form_box {
    padding: 0 20px;
  }
  .howTo .form_box h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .howTo .form_box p.description,
  .howTo .form_box form input[type='checkbox'] + label {
    font-size: 12px;
  }
  .howTo .form_box p.description {
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .howTo .form_box .input_wrap input {
    height: 40px;
  }
  .howTo .form_box form input[type='checkbox'] + label {
    padding-left: 40px;
    margin-bottom: 20px;
  }
  .howTo .form_box form input[type='checkbox'] + label:before {
    width: 20px;
    height: 20px;
  }
  .howTo .form_box form {
    padding-bottom: 50px;
  }
}
@media all and (max-width:820px) {
  .howTo .form_box {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    margin-left: calc(100% - 485px);
  }
}

/* =============== ВЫБРАТЬ ПЕРЕГОРОДКИ =================== */

.choose {
  width: 100%;
}
.tile_wrap {
  width: 100%;
}
.tile_wrap .tile {
  width: 33.333334%;
  height: 21.7vw;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tile_wrap .tile:nth-child(1) {
  background-image: url(../img/choose6.jpg);
}
.tile_wrap .tile:nth-child(2) {
  background-image: url(../img/choose5.jpg);
}
.tile_wrap .tile:nth-child(3) {
  background-image: url(../img/choose4.jpg);
}
.tile_wrap .tile:nth-child(4) {
  background-image: url(../img/choose3.jpg);
}
.tile_wrap .tile:nth-child(5) {
  background-image: url(../img/choose2.jpg);
}
.tile_wrap .tile:nth-child(6) {
  background-image: url(../img/choose1.jpg);
}
.tile_wrap .tile .tile_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(135, 185, 176, 0.7);
  padding: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  transition: all .2s linear;
}
.tile_wrap .tile:nth-child(2) .tile_overlay,
.tile_wrap .tile:nth-child(4) .tile_overlay {
  background-color: rgba(56, 55, 61, 0.7);
}
.tile_wrap .tile:nth-child(3) .tile_overlay,
.tile_wrap .tile:nth-child(5) .tile_overlay {
  background-color: rgba(192, 183, 174, 0.7);
}
.tile_wrap .tile .tile_overlay:hover {
  background-color: rgba(135, 185, 176, 0.9);
}
.tile_wrap .tile:nth-child(2) .tile_overlay:hover,
.tile_wrap .tile:nth-child(4) .tile_overlay:hover {
  background-color: rgba(56, 55, 61, 0.9);
}
.tile_wrap .tile:nth-child(3) .tile_overlay:hover,
.tile_wrap .tile:nth-child(5) .tile_overlay:hover {
  background-color: rgba(192, 183, 174, 0.9);
}
.tile_wrap .tile .tile_overlay .title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.6;
  color: #fff;
}
.tile_wrap .tile .tile_overlay .price {
  font-size: 38px;
  font-weight: 300;
  color: #fff;
  width: 100%;
  margin-bottom: 30px;
}
.tile_wrap .tile .tile_overlay button {
  width: 165px;
  height: 45px;
}
.tile_wrap .tile:nth-child(3) .tile_overlay .title,
.tile_wrap .tile:nth-child(5) .tile_overlay .title{
  color: #383840;
}
.tile_wrap .tile:nth-child(3) .tile_overlay .price,
.tile_wrap .tile:nth-child(5) .tile_overlay .price{
  color: #383840;
}

@media all and (max-width:1200px) {
  .tile_wrap .tile .tile_overlay .title {
    font-size: 20px;
    line-height: 1.4;
  }
  .tile_wrap .tile .tile_overlay {
    padding: 30px;
  }
  .tile_wrap .tile .tile_overlay .price {
    font-size: 30px;
  }
}
@media all and (max-width:960px) {
  .tile_wrap .tile .tile_overlay .price {
    margin-bottom: 10px;
  }
  .tile_wrap .tile .tile_overlay .title {
    font-size: 16px;
  }
  .tile_wrap .tile .tile_overlay .price {
    font-size: 24px;
  }
  .tile_wrap .tile .tile_overlay button {
    height: 40px;
    font-size: 14px;
  }
}
@media all and (max-width:820px) {
  .tile_wrap .tile {
    width: 50%;
    height: 30vw;
  }
  .tile_wrap .tile:nth-child(2) .tile_overlay {
    background-color: rgba(192, 183, 174, 0.7);
  }
  .tile_wrap .tile:nth-child(5) .tile_overlay {
    background-color: rgba(56, 55, 61, 0.7);
  }
  .tile_wrap .tile:nth-child(5) .tile_overlay .title,
  .tile_wrap .tile:nth-child(5) .tile_overlay .price {
    color: #fff;
  }
  .tile_wrap .tile:nth-child(2) .tile_overlay .title,
  .tile_wrap .tile:nth-child(2) .tile_overlay .price {
    color: #383840;
  }
}

/* ================ КАЛЬКУЛЯТОР ================== */

.calculator {
  width: 100%;
  background-color: #38373d;
  color: #fff;
  padding-bottom: 90px;
}
.calculator h2 {
  color: #fff;
  margin-bottom: 30px;
}
.calculator .container>p {
  font-size: 22px;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
}
.calculator .scale_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator .scale_block {
  width: 220px;
  height: 140px;
  position: relative;
}
.calculator .scale_block.short {
  width: 200px;
}
.calculator .scale_block .line {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #86b8af;
  bottom: 78px;
  left: 0;
}
.calculator .scale_block .quad {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  background-color: #86b8af;
  left: 80px;
  bottom: 60px;
}
.calculator .scale_block p{
  font-size: 20px;
  color: #86b8af;
  position: absolute;
  bottom: 0;
  left: 34%;
  margin: 0;
}
.calculator .scale_block.purple p {
  color: #7c6d96;
}
.calculator .scale_block:first-child .quad {
  left: 100px;
}
.calculator .scale_block:first-child p {
  left: 40%;
}
.calculator .scale_block.purple .line {
  background-color: #7c6d96;
}
.calculator .scale_block.purple .quad {
  background-color: #7c6d96;
}
.calculator .scale_block.active .quad:before {
  content: '';
  width: 58px;
  height: 58px;
  border:1px solid #7c6d96;
  position: absolute;
  left: -11px;
  bottom: -11px;
}

.calculator .calc_box {
  margin-top: 50px;
  width: 100%;
}
.calculator .calc_slider {
  width: 960px;
}
.calculator .calc_slide .content_wrap {
  width: 100%;
}
.calculator .calc_slide {
  width: 100%;
  display: none;
}
.calculator .calc_slide.active {
  display: block;
}
.calculator .calc_slide .title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.calculator .form_wrap {
  width: 100%;
  padding-right: 120px;
  height: 360px;
}
.calculator .form_wrap form {
  width: 100%;
}
.calculator .calc_slide.first .form_wrap form table{
  width: 100%;
  border:none;
  border-collapse: collapse;
}
.calculator .calc_slide.first .form_wrap form table tr{
  width: 100%;
  height: 60px;
}
.calculator .calc_slide.first .form_wrap form table tr td {
  padding-left: 10px;
  border-bottom: 1px solid #4c4b51;
  font-size: 20px;
  color: #fff;
}
.calculator .calc_slide.first .form_wrap form table tr:last-child td {
  border-bottom: none
}
.calculator .calc_slide.first .form_wrap form table tr td.nobb {
  border-bottom: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  vertical-align: middle;
}
.calculator .calc_slide.first .form_wrap form table tr td.equal {
  width: 150px;
}
.calculator .form_wrap form table tr td.align_right {
  text-align: right;
}
.calculator input[type='radio'] {
  display: none;
}
.calculator input[type='radio'] + label {
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
.calculator input[type='radio'] + label:before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #4c4b51;
  left: 0;
  top: -2px;
  transition: all .2s linear;
}
.calculator input[type='radio'] + label.primary:before {
  border: 1px solid #a5a4a9;
}
.calculator input[type='radio'] + label.active:before {
  border: 1px solid #a5a4a9;
}
.calculator input[type='radio'] + label.secondary {
  pointer-events: none;
}
.calculator input[type='radio'] + label.active.secondary {
  pointer-events: auto;
}
.calculator input[type='radio']:checked + label:before {
  border: 1px solid #a5a4a9;
  background-image: url(../img/radio_checked.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}


.calculator .calc_slide.second .leftPart {
  width: 560px;
}
.calculator .calc_slide.second .leftPart .img_wrap {
  width: 100%;
}
.calculator .calc_slide.second .leftPart .img_wrap img {
  width: 100%;
}
.calculator .calc_slide.second .leftPart table {
  width: 100%;
}
.calculator .calc_slide.second .leftPart table td:first-child {
  width: 165px;
}
.calculator .calc_slide.second .leftPart table td:nth-child(2) {
  width: 205px;
}
.calculator .calc_slide.second .leftPart table td {
  height: 50px;
  font-size: 18px;
  color: #fff;
}
.calculator .calc_slide.second .leftPart table td input {
  border:none;
  background-color: #fff;
  color: #38373d;
  padding-left: 10px;
  width: 170px;
  height: 30px;
}
.calculator .calc_slide.second .rightPart {
  padding-left: 10px;
  padding-top: 20px;
}
.calculator .calc_slide.second .rightPart .height_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
}
.calculator .calc_slide.second .rightPart .height_wrap>span {
  color: #fff;
  margin-right: 25px;
}
.calculator .calc_slide.second .rightPart .height_wrap .input_wrap {
  height: 30px;
  width: 170px;
  position: relative;
}
.calculator .calc_slide.second .rightPart .height_wrap .input_wrap>select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border:none;
  box-shadow: none;
  font-size: 17px;
  color: #83828a;
  cursor: pointer;
  line-height: 30px;
}
select:focus, select:hover {
  outline: none;
}
.calculator .calc_slide.second .rightPart .height_wrap .input_wrap>.input_element {
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../img/select_arrow.png);
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.calculator .calc_slide.third .tab_wrap {
  width: 100%;
  margin-bottom: 50px;
}
.calculator .calc_slide.third .tab_wrap .tab {
  width: 60px;
  height: 90px;
  background-color: transparent;
  margin-right: 15px;
  padding: 8px;
  cursor: pointer;
}
.calculator .calc_slide.third .tab_wrap .tab.active {
  background-color: #2d2c32;
}
.calculator .calc_slide.third .tab_wrap .tab img {
  width: 100%;
  height: 100%;
}
.calculator .calc_slide.third .tab_content_wrap {
  width: 100%;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content {
  display: none;
  width: 100%;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content.active {
  display: block;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content .img_part {
  width: 140px;
  margin-right: 150px;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content .img_part>img {
  width: 100%;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content .select_part {
  width: 370px;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content .select_part .select_wrap {
  width: 100%;
  height: 30px;
  position: relative;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content .select_part .select_wrap:first-child{
  margin-bottom: 115px;
  margin-top: 18px;
}
.calculator .calc_slide.third select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border:none;
  box-shadow: none;
  font-size: 16px;
  color: #83828a;
  cursor: pointer;
  line-height: 30px;
}
.calculator .calc_slide.third .select_element {
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../img/select_arrow.png);
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.calculator .calc_slide.third .tab_content_wrap .tab_content .select_part .select_wrap:before {
  width: 205px;
  height: 7px;
  content: '';
  background-image: url(../img/peregorodka-3-stick.png);
  position: absolute;
  left: -205px;
  top: 10px;
}

.calculator .calc_slide .title {
  width: 100%;
}
.calculator .calc_slide .title>span.floatLeft {
  float: left;
}
.calculator .calc_slide .title>span.floatRight {
  float: right;
  margin-right: 140px;
}
.calculator .calc_slide.fourth table{
  width: 100%;
  margin-bottom: 15px;
}
.calculator .calc_slide.fourth table td {
  border-bottom: 1px solid #4c4b51;
  font-size: 18px;
  color: #fff;
  height: 42px;
}
.calculator .calc_slide.fourth table tr:last-child td {
  border-bottom: none;
}
.calculator .calc_slide.fourth table td:last-child {
  width: 120px;
}
.calculator .calc_slide.fourth p.offer {
  font-size: 16px;
  color: #87b9b0;
  margin-top: 0;
  margin-bottom: 25px;
}
.calculator .calc_slide.fourth form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator .calc_slide.fourth form input {
  height: 30px;
  background-color: #fff;
  width: 250px;
  border: none;
  padding-left: 20px;
}

.calculator .controls_wrap {
  margin-top: 50px;
  width: 100%;
  padding-right: 120px;
}
.calculator .controls_wrap button {
  width: 210px;
}
.calculator .controls_wrap button.floatLeft {
  background-color: #beb1a8;
  float: left;
}
.calculator .controls_wrap button.floatRight {
  float: right;
}

.calculator .callback_block {
  width: 320px;
  height: 100%;
  background-color: #82828a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 30px;
}
.calculator .callback_block .title {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.calculator .callback_block p {
  font-size: 18px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.6;
}
.calculator .callback_block p.description {
  margin-bottom: 30px;
}
.calculator .callback_block button {
  margin-bottom: 10px;
  background-color: #86b8af;
  width: 210px;
  font-size: 14px;
  height: 45px;
}
.calculator .callback_block a {
  font-size: 22px;
  color: #cdc9c0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator .callback_block a>span:first-child {
  margin-right: 10px;
}

@media all and (max-width:1320px) {
  .calculator .calc_slider {
    width: 820px;
  }
  .calculator .callback_block {
    width: 260px;
  }
  .calculator .callback_block a {
    font-size: 18px;
  }
  .calculator .callback_block {
    padding: 30px 15px;
  }
  .calculator .callback_block .title,
  .calculator .callback_block p {
    font-size: 16px;
  }
  .calculator .calc_slide.first .form_wrap form table tr td,
  .calculator .calc_slide.first .form_wrap form table tr td.nobb {
    font-size: 16px;
  }
  .calculator .calc_slide.second .leftPart {
    width: 490px;
  }
  .calculator .form_wrap {
    padding-right: 50px;
  }
  .calculator .calc_slide.third .tab_content_wrap .tab_content .img_part {
    margin-right: 90px;
  }
  .calculator .calc_slide.third .tab_content_wrap .tab_content .select_part .select_wrap:before {
    width: 150px;
    left: -150px;
  }
  .calculator .calc_slide .title>span.floatRight {
    margin-right: 75px;
  }
  .calculator .scale_block {
    width: 180px;
    height: 110px;
  }
  .calculator .scale_block.short {
    width: 160px;
  }
  .calculator .scale_block:first-child p {
    left: 46%;
  }
  .calculator .scale_block .quad {
    left: 60px;
  }
  .calculator .scale_block:first-child .quad {
    left: 90px;
  }
  .calculator .scale_block p {
    left: 30%;
  }
  .calculator .calc_box {
    margin-top: 40px;
  }
  .calculator .controls_wrap {
    margin-top: 20px;
  }
}
@media all and (max-width:1120px) {
  .calculator .calc_slider {
    width: 600px;
  }
  .calculator .callback_block {
    width: 180px;
  }
  .calculator input[type='radio'] + label {
    padding-left: 25px;
    font-size: 14px;
  }
  .calculator input[type='radio'] + label:before {
    width: 15px;
    min-width: 15px;
    height: 15px;
  }
  .calculator .calc_slide.first .form_wrap form table tr td,
  .calculator .calc_slide.first .form_wrap form table tr td.nobb {
    font-size: 14px;
  }
  .calculator .controls_wrap button {
    width: 200px;
  }
  .calculator .calc_slide.second .rightPart {
    padding-left: 0;
  }
  .calculator .controls_wrap {
    padding-right: 50px;
  }
  .calculator .calc_slide.third .tab_content_wrap .tab_content .select_part {
    width: 350px;
  }
  .calculator .calc_slide.third .tab_content_wrap .tab_content .select_part .select_wrap:before {
    width: 100px;
    left: -100px;
  }
  .calculator .calc_slide.third .tab_content_wrap .tab_content .img_part {
    margin-right: 60px;
  }
  .calculator .calc_slide.fourth table td,
  .calculator .calc_slide.fourth p.offer {
    font-size: 14px;
  }
  .calculator .calc_slide.fourth form input {
    width: 175px;
  }
  .calculator .callback_block p.description,
  .calculator .callback_block p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .calculator .callback_block button {
    width: 160px;
    font-size: 12px;
    margin-bottom: 0;
  }
  .calculator .callback_block a>span:first-child {
    margin-right: 0;
  }
  .calculator .callback_block a>span:first-child img {
    width: 80%;
  }
  .calculator .callback_block a {
    font-size: 14px;
  }
  .calculator .scale_block .line {
    bottom: 55px;
  }
  .calculator .scale_block {
    height: 90px;
    width: 150px;
  }
  .calculator .scale_block.short {
    width: 120px;
  }
  .calculator .scale_block .quad {
    width: 28px;
    height: 28px;
    bottom: 42px;
    left: 48px;
  }
  .calculator .scale_block.active .quad:before {
    width: 36px;
    height: 36px;
    left: -5px;
    bottom: -5px;
  }
  .calculator .scale_block:first-child .quad {
    left: 78px;
  }
  .calculator .scale_block p {
    font-size: 16px;
  }
  .calculator .calc_slide .title {
    margin-bottom: 10px;
  }
  .calculator .calc_slide.first .form_wrap form table tr {
    height: 50px;
  }
}
@media all and (max-width:820px) {
  .calculator .calc_slider {
    width: 100%;
  }
  .callbac_box {
    padding-top: 40px;
    width: 100%;
  }
  .calculator .callback_block {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  .calculator {
    padding-bottom: 0;
  }
  .calculator .container {
    padding: 0;
  }
  .calculator .calc_slider {
    padding: 0 15px;
  }
  .calculator .callback_block a {
    font-size: 18px;
  }
}



/* =============== СЛАЙДЕР ==================== */

.portfolio {
  width: 100%;
  padding-bottom: 90px;
}
.portfolio .slider_box {
  width: 100%;
  position: relative;
  height: 650px;
  overflow: hidden;
}
.portfolio .controls_portfolioSlider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 50px;
}
.portfolio .controls_portfolioSlider .controls_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30 auto;
  float: none;
}
.portfolio .controls_portfolioSlider .controls_wrap .arrow {
  width: 18px;
  height: 47px;
  color: #808082;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.portfolio .controls_portfolioSlider .controls_wrap .arrow.prev {
  margin-right: 40px;
  background-image: url(../img/arrow_left.png);
}
.portfolio .controls_portfolioSlider .controls_wrap .arrow.next {
  margin-left: 40px;
  background-image: url(../img/arrow_right.png);
}
.portfolio .controls_portfolioSlider .controls_wrap .number {
  font-size: 28px;
  font-weight: 300;
  color: #808082;
}
.portfolio .controls_portfolioSlider .controls_wrap .divider {
  font-size: 28px;
  color: #808082;
  font-weight: 300;
  margin: 0 5px;
}

.portfolio .slider_track {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.portfolio .slide {
  width: 100%;
  height: 600px;
}
.portfolio .slide .project {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.portfolio .slide .project .gallery_wrap{
  width: 75%;
  height: 100%;
}
.portfolio .slide .project .gallery_wrap #gallery {
  width: 100%;
  min-width: 100%;
}
.portfolio .slide .project .descriptionPart {
  width: 25%;
  height: 100%;
  padding-left: 30px;
}


.ug-gallery-wrapper .ug-strip-panel {
  background-color: transparent;
}
.ug-gallery-wrapper .ug-handle-tip-top.ug-skin-default {
  display: none;
}
.ug-arrow-right.ug-skin-default,
.ug-arrow-left.ug-skin-default {
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #73648d;
  opacity: 0.6;
  transition: all .2s linear;
  background-size: 25% 190%;
}
.ug-arrow-right.ug-skin-default:hover,
.ug-arrow-left.ug-skin-default:hover {
  opacity: 0.8;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all .2s linear;
}
.ug-strip-panel .ug-strip-arrow {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.ug-strip-panel .ug-strip-arrow-left {
  background-image: url(../img/arrow_left.png);
}
.ug-strip-panel .ug-strip-arrow-right {
  background-image: url(../img/arrow_right.png);
}
.ug-slider-wrapper .ug-zoompanel,
.ug-theme-default .ug-default-button-play,
.ug-default-button-hidepanel{
  display: none;
}
.ug-gallery-wrapper .ug-textpanel-bg {
  background-color: transparent
}

.portfolio .slide .project .descriptionPart .title{
  font-size: 16px;
  text-transform: uppercase;
  color: #87b9b0;
  width: 100%;
}
.portfolio .slide .project .descriptionPart p {
  font-size: 14px;
  color: #38373d;
  line-height: 1.6;
  margin-top: 30px;
  margin-bottom: 40px;
  display: block;
  width: 100%;
  float: left;
}

@media all and (max-width:1320px) {
  .portfolio .slide {
    height: 540px;
  }
  .portfolio .slider_box {
    height: 590px;
  }
}
@media all and (max-width:1120px) {
  .portfolio .slide .project .descriptionPart .title {
    font-size: 12px;
  }
  .portfolio .slide .project .descriptionPart p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
  .portfolio .slider_box {
    height: 450px;
  }
  .portfolio .slide {
    height: 400px;
  }
}


/* ============ РАБОТА С НАМИ ============== */

.workProgress {
  width: 100%;
  background-color: #f2f1ef;
}
.workProgress_block {
  margin: 0 20px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 280px;
  background-color: #82828a;
}
.workProgress_block .img_wrap img {
  width: 100%;
}
.workProgress_block p {
  display: block;
  margin-top: 30px;
  font-size: 19px;
  color:  #fff;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  float: left;
  margin-bottom: 0;
  line-height: 1.6;
}
.workProgress_block .index {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #6c6b73;
  color: #cabfb9;
  font-size: 28px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
}
.workProgress_block:nth-child(2){
  background-color: #87b9b0;
}
.workProgress_block:nth-child(9) {
  background-color: #73648d;
}
.workProgress_block:nth-child(2) p,
.workProgress_block:nth-child(9) p{
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 0;
}
.workProgress button {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media all and (max-width:1320px) {
  .workProgress_block {
    width: 230px;
    height: 230px;
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .workProgress_block .img_wrap img {
    width: 80%;
  }
  .workProgress_block .img_wrap {
    text-align: center;
  }
  .workProgress_block p {
    font-size: 16px;
  }
  .workProgress_block:nth-child(2) p, .workProgress_block:nth-child(9) p {
    font-size: 18px;
  }
  .workProgress_block .index {
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
@media all and (max-width:1120px) {
  .workProgress_block {
    width: 179px;
    height: 179px;
    margin: 0 8px;
    margin-bottom: 15px;
  }
  .workProgress_block p {
    font-size: 12px;
    margin-top: 15px;
  }
  .workProgress_block:nth-child(2) p, .workProgress_block:nth-child(9) p {
    font-size: 14px;
  }
}
@media all and (max-width:820px) {
  .workProgress_block:nth-child(2),
  .workProgress_block:nth-child(9) {
    display: none;
  }
  .workProgress_block {
    width: 31%;
    height: 30vw;
    margin: 0 1%;
    margin-bottom: 20px;
  }
  .workProgress_block p {
    font-size: 14px;
  }
}

/* ============== НАШИ КЛИЕНТЫ ================= */

.ourClients {
  width: 100%;
  padding-bottom: 90px;
}
.ourClients .img_wrap {
  width: 100%;
}
.ourClients .img_wrap img {
  width: 100%;
}

/* =============== АКЦИЯ ================= */

.action {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/action2_bcg.jpg);
}
.action .form_box {
  width: 50%;
  background-color: #87b9b0;
  padding: 0 50px;
  padding-bottom: 90px;
  text-align: center;
}
.action .form_box h2 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.action .form_box p {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
}
.action .form_box>span {
  font-size: 14px;
  margin-bottom: 70px;
  margin-top: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.action .form_box form {
  width: 100%;
}
.action .form_box form .input_wrap {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action .form_box form .input_wrap input {
  width: 46%;
  height: 50px;
  background-color: #fff;
  border:none;
  padding-left: 20px;
  font-size: 14px;
}
.action .form_box form input[type='checkbox'] {
  display: none;
}
.action .form_box input[type='checkbox'] + label {
  font-size: 14px;
  padding-left: 50px;
  color: #fff;
  margin-bottom: 50px;
  position: relative;
  line-height: 1.4;
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-align: left;
  float: left;
  cursor: pointer;
}
.action .form_box form input[type='checkbox'] + label a {
  color: #564b5c;
}
.action .form_box form input[type='checkbox'] + label a:hover {
  text-decoration: underline;
}
.action .form_box form input[type='checkbox'] + label:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.action .form_box form input[type='checkbox']:checked + label:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../img/checked.png);
}

@media all and (max-width:1320px) {
  .action .form_box p {
    font-size: 26px;
  }
}
@media all and (max-width:1120px) {
  .action .form_box h2 {
    margin-top: 30px;
  }
  .action .form_box {
    padding: 0 20px;
    padding-bottom: 40px;
  }
  .action .form_box p {
    font-size: 22px;
  }
  .action .form_box>span {
    margin-bottom: 20px;
  }
  .action .form_box form .input_wrap input {
    height: 40px;
  }
  .action .form_box input[type='checkbox'] + label {
    margin-bottom: 25px;
  }
  footer ul li a, footer ul li {
    font-size: 12px;
  }
}
@media all and (max-width:820px) {
  .action .form_box {
    width: 100%;
    max-width: 500px;
    min-width: 320px;
    margin-left: -15px;
  }
}

/* ================== КОНТАКТЫ ================ */

.map {
  width: 100%;
  position: relative;
}
.contacts_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.map .contacts_box {
  width: 320px;
  background-color: #73648d;
  color: #fff;
  height: 100%;
  margin-left: 100%;
  padding: 0 30px;
  transform: translateX(-100%);
}
.map .contacts_box h2 {
  font-size: 30px;
  font-weight:400;
  margin-top: 75px;
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.map .contacts_box>div {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.map .contacts_box>div>a {
  color: #fff;
}
.map .contacts_box>div>span:first-child {
  margin-right: 20px;
}
.map .contacts_box>div>span:last-child,
.map .contacts_box>div>a {
  margin-top: -1px;
}
.map .contacts_box>div>a[href="mailto:mail@psk-plus.ru"] {
  color: #c9c0b9;
}

@media all and (max-width:1320px) {
  .map .contacts_box {
    width: 280px;
  }
  .map .contacts_box>div {
    font-size: 16px;
  }
  .map .contacts_box h2 {
    font-size: 28px;
    margin-top: 60px;
  }
  .map iframe {
    height: 500px;
  }
}
@media all and (max-width:820px) {
  .map {
    padding-top: 300px;
  }
  .map .contacts_wrap {
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    right: 0;
    bottom: auto;
  }
  .map .contacts_box {
    width: 100%;
    padding: 0 15px;
  }
  .map .container {
    padding: 0;
  }
  .map .contacts_box>div {
    float: none;
    margin-bottom: 20px;
  }
  .map .contacts_box h2 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .map iframe {
    height: 480px;
  }
}


/* ============ FOOTER ============= */

footer {
  width: 100%;
  background-color: #38373d;
  float: left;
}
footer .container {
  height: 80px;
}
footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  padding: 0;
  margin: 0;
}
footer ul li {
  color: #fff;
  font-size: 16px;
}
footer ul li a {
  font-size: 16px;
  font-style: italic;
  color: #bdbab5;
}
footer ul li a:hover {
  color: #fff;
}

@media all and (max-width:1320px) {
  li>img {
    width: 80%;
  }
  footer ul li a,
  footer ul li {
    font-size: 14px;
  }
}
@media all and (max-width:820px) {
  footer {
    height: 140px;
  }
  footer .container {
    height: 135px;
  }
  li>img {
    display: none;
  }
  footer ul {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  footer ul li:last-child {
    margin-bottom: 20px;
  }
}
